<template>
  <div class="main">
    <video
      loop
      autoplay
      ref="the_video"
      id="the_video"
      src="/static/videos/acnes-cewek.mp4"
      @click="goFullScreen"
      @timeupdate="onTimeUpdateListener"
    ></video>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'VideoEyeTracking',
  sockets: {
    connect: function() {
      console.log('socket connected')
    },
    changeState: function(state) {
      this.changeState(state);
    }
  },
  data () {
    return {
      currentState: 1,
      currentScene: 1,
      scenes: {
        scene1: {
          start: {
            from: 0,
            to: 5
          },
          action: {
            from: 5.863,
            to: 19.75
          }
        },
        scene2: {
          start: {
            from: 20,
            to: 26.100
          },
          action: {
            from: 26.123,
            to: 39.5
          }
        },
        scene3: {
          start: {
            from: 40,
            to: 45.058
          },
          action: {
            from: 45.835,
            to: 58
          }
        },
      },
      onPersonStaring: false,
    }
  },
  mounted() {
    // choose random scene
    this.chooseRandomScene();
    this.getStartingFromDuration();
  },
  methods: {
    goFullScreen() {
      var elem = document.getElementById("the_video");
      if (elem.webkitRequestFullscreen) {
        elem.webkitRequestFullscreen();
      }
    },
    getStartingFromDuration() {
      var startFrom;
      if (this.currentScene == 1) {
        startFrom = this.scenes.scene1.start.from;
      } else if (this.currentScene == 2) {
        startFrom = this.scenes.scene2.start.from;
      } else if (this.currentScene == 3) {
        startFrom = this.scenes.scene3.start.from;
      }
      this.$refs.the_video.currentTime = startFrom;
    },
    chooseRandomScene() {
      var randomScene = Math.floor(Math.random() * Object.keys(this.scenes).length) + 1;
      this.currentScene = randomScene;
    },
    changeState(state) {
      this.currentState = state;
      if (this.currentState > 1) {
        if (!this.onPersonStaring) {
          this.onPersonStaring = true;

          if (this.currentScene == 1) {
            this.$refs.the_video.currentTime = this.scenes.scene1.action.from;
          }
          if (this.currentScene == 2) {
            this.$refs.the_video.currentTime = this.scenes.scene2.action.from;
          }
          if (this.currentScene == 3) {
            this.$refs.the_video.currentTime = this.scenes.scene3.action.from;
          }
        }
      }
    },
    incrementStat() {
      axios.post('http://localhost:3000/add_view')
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    reset() {
      this.changeState(1);
      this.chooseRandomScene();
      this.onPersonStaring = false;

      this.getStartingFromDuration();
    },
    onTimeUpdateListener(e) {
      var playedTimeInMiliseconds = e.target.currentTime;
      var playedTimeInSeconds = parseInt(e.target.currentTime, 10);

      if (this.currentScene == 1) {
        if (playedTimeInMiliseconds >= this.scenes.scene1.start.to) {
          if (!this.onPersonStaring) {
            this.$refs.the_video.currentTime = this.scenes.scene1.start.from;
          }
        }
        if (playedTimeInMiliseconds >= this.scenes.scene1.action.to) {
          this.incrementStat();
          this.reset();
        }
      } else if (this.currentScene == 2) {
        if (playedTimeInMiliseconds >= this.scenes.scene2.start.to) {
          if (!this.onPersonStaring) {
            this.$refs.the_video.currentTime = this.scenes.scene2.start.from;
          }
        }
        if (playedTimeInMiliseconds >= this.scenes.scene2.action.to) {
          this.incrementStat();
          this.reset();
        }
      } else if (this.currentScene == 3) {
        if (playedTimeInMiliseconds >= this.scenes.scene3.start.to) {
          if (!this.onPersonStaring) {
            this.$refs.the_video.currentTime = this.scenes.scene3.start.from;
          }
        }
        if (playedTimeInMiliseconds >= this.scenes.scene3.action.to) {
          this.incrementStat();
          this.reset();
        }
      }

      // duration end
      if (playedTimeInMiliseconds >= parseInt(e.target.duration, 10)) {
        // reset all
        this.reset();
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main {
  text-align: center;
}

video {
  max-width: 100%;
  height: 100vh;
  display: block;
  margin: 0 auto;
}
</style>
